<!DOCTYPE html>
<html>
<head>
	<title>Log In / Sign Up</title>
</head>
<body>
	<p>Admin Only!</p>
	<form action="/adminLogin" method="post">
		<input type="password" name="adminPass">
		<button>Admin Login</button>
	</form>
</body>
</html>