<%- include("partials/cdns.ejs") %>	
	<link rel="stylesheet" type="text/css" href="users.css">
	<title>Profile Pics</title>

</head>
	<body>
		<div class="container">
			<h1 class="text-center display-4 my-4">Select any 1 of these pics </h1>
			<form action="/profilePic/<%= id %>" method='post'>
				<img src="logo.jfif" class="card card-body m-auto mb-4">
				<input type="text" name="pic" placeholder="URL HERE">
				<input type="radio" name="pic" value="pic1">
				<img src="https://image.shutterstock.com/image-photo/colorful-flower-on-dark-tropical-260nw-721703848.jpg" class="card card-body m-auto mb-4">
				<input type="radio" name="pic" value="pic2">
				<input type="radio" name="pic" value="pic3">
				<input type="radio" name="pic" value="pic4">
				<button>confirm</button>
			</form>
		</div>
		<a href="/">logout</a>
	</body>
<%- include("partials/cdns.ejs") %>	