.nav-form{
	color: white;
	font-size: 12px;
	font-weight: bold;
}
.nav-form input{
	height: 20px;
}
.forgotten{
	color: #90949c;
	font-size: 11px;
}
.login-btn{
	height: 20px;
	width: 50px;
	padding: 0;
	font-size: 10px; 
	margin: 0;
	border-radius: 0;
	border: 1px solid black;
	background-color: #ffffe0!important;
	color: black;
}
.label-bday, .label-gender{
	font-size: 20px;
	font-weight: bold;
	color: #90949c;
}
.bday-info:hover ,.gender-info:hover{
	color: red;
}
.genders{
	color: black;
	font-weight: normal;
	font-size: 22px;
}
.agreement-text{
	font-size: 16px;
	color: #777;
}
.agreement-text a{
	color: #385898
}
.create-text{
	color: #666;
}
.cross{
	float: right;
	color : red;
	font-size: 1rem;
	margin-right:10px;
}
.cross:hover{
	color: red;
}
.review img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 6px solid white;
	margin-left: -5px;
}
.review .author{
	background-color: white;
	display: inline;
	margin-left: 10px;
	border-radius: 25px;
	padding: 5px;
	padding-right: 10px;
}
.review p{
	margin: 10px ;
	margin-left: 250px;
}
.jumbotron{
	padding: 10px;
	border-radius: 20px;
	background-color: rgba(0,250,154,0.4);
}
.icon img{
	/* width: 1em; */
	height: 0.7em;
	margin-bottom: 13px;
	border-radius: 50%;
}